In [1]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/37/69/c964165696fddf611f518b31c20774cdb635a49d6a0bd5bc3a1deec549b3/psycopg2_binary-2.8.4-cp37-cp37m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 1.8MB/s eta 0:00:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.4

In [2]:
import requests, json, collections
import psycopg2
import pandas.io.sql as sqlio
import pandas as pd
from datetime import date

In [3]:
import sqlalchemy
from sqlalchemy import create_engine
import psycopg2 as pg
con = create_engine("postgresql://airflow:airflow@postgres")

In [4]:
def dnb_request(addressLocality=None,addressRegion=None, postalCode=None,
               countryISOAlpha2Code=None, streetAddressLine1=None,
               searchTerm=None,pageNumber=1,pageSize=50):
    
    headers = {
    "Content-Type":"application/json;charset=UTF-8",
    "Origin":"https://www.dnb.com",
    "Referer":"https://www.dnb.com/duns-number-lookup.html",
    "Sec-Fetch-Mode":"cors"
                }
    
    payload = {'fields': ['primaryName','primaryAddress','telephone',
                          'duns','dunsControlStatus','corporateLinkage']}
    
    payload['criteria'] = {}
    
    if addressLocality:
        payload['criteria']['addressLocality'] = addressLocality
    if addressRegion:
        payload['criteria']['addressRegion'] = addressRegion
    if postalCode:
        payload['criteria']['postalCode'] = postalCode
    if countryISOAlpha2Code:
        payload['criteria']['countryISOAlpha2Code'] = countryISOAlpha2Code
    if searchTerm:
        payload['criteria']['searchTerm'] = searchTerm
    payload['criteria']['pageNumber'] = pageNumber
    payload['criteria']['pageSize'] = pageSize
    
    r = requests.post("https://duns-update.dnb.com/services/criteriaSearch",
                     json=payload,headers=headers)
    
    if r.status_code < 300:
        output = r.json() if r.text else r.text
        if r.text:
            if output['candidatesMatchedQuantity'] > pageSize:
                while r.text:
                    pageNumber += 1
                    payload['criteria']['pageNumber'] = pageNumber
                    r = requests.post("https://duns-update.dnb.com/services/criteriaSearch",
                                      json=payload,headers=headers)
                    if r.text:
                        output['candidatesCandidates'].extend(r.json()['searchCandidates'])
                    if pageNumber > 2:
                        break
        return(output)
    else:
        return('')

### MAKE AN EXAMPLE REQUEST

In [49]:
# example

# addressLocality='BRANDON',
# addressRegion='Florida',
# postalCode='33510',
# countryISOAlpha2Code='US',
# streetAddressLine1='LAKE KATHY DR',
# searchTerm='COCA-COLA'

# r = dnb_request(addressLocality='BRANDON',
#                 addressRegion='Florida',
#                 postalCode='33510',
#                 countryISOAlpha2Code='US',
#                 streetAddressLine1='LAKE KATHY DR',
#                 searchTerm='COCA-COLA')

# r

{'inquiryDetail': {'countryISOAlpha2Code': 'US',
  'searchTerm': 'COCA-COLA',
  'pageNumber': 1,
  'postalCode': '33510',
  'pageSize': 50,
  'addressLocality': 'BRANDON',
  'addressRegion': 'Florida'},
 'candidatesReturnedQuantity': 4,
 'candidatesMatchedQuantity': 4,
 'searchCandidates': [{'primaryName': 'Florida Coca-Cola Bottling Company',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3945',
    'streetAddress': {'line1': '521 Lake Kathy Dr'},
    'latitude': 27.946694,
    'longitude': -82.320789,
    'isManufacturingLocation': True},
   'telephone': [{'telephoneNumber': '8135692600', 'isdCode': '1'}],
   'duns': 'MDU2MTM0NDA2',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False,
    'familytreeRolesPlayed': [{'description': 'Subsidiary', 'dnbCode': 9159},
     {'description': 'Parent/Headquarters', 'dnbCode': 9141}],
    'globalUltimateFamilyTreeMembersCount': 687,
    'globalUltimate': {'duns': '003296175',
     'primaryName': 'The Coca-Cola Company'},
    'parent': {'duns': '118267624',
     'primaryName': 'Coca-Cola Refreshments Usa, Inc.'}}},
  {'primaryName': 'Coca Cola Bottling Co',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3945',
    'streetAddress': {'line1': '599 Lake Kathy Dr'},
    'latitude': 27.947599,
    'longitude': -82.322368,
    'isManufacturingLocation': True},
   'telephone': [{'telephoneNumber': '8135693030', 'isdCode': '1'}],
   'duns': 'MDk2MDg5MzAx',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False}},
  {'primaryName': 'Coca Cola of NY',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3904',
    'streetAddress': {'line1': '605 Lake Kathy Dr'},
    'latitude': 27.947658,
    'longitude': -82.322549,
    'isManufacturingLocation': True},
   'duns': 'MDUxMDQxMTQ2',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False}},
  {'primaryName': 'Coca-Cola Refreshments Usa, Inc.',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3945',
    'streetAddress': {'line1': '521 Lake Kathy Dr'},
    'latitude': 27.946694,
    'longitude': -82.320789,
    'isManufacturingLocation': True},
   'telephone': [{'telephoneNumber': '7703707870', 'isdCode': '1'}],
   'duns': 'NzkwODk5MzI3',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': True,
    'familytreeRolesPlayed': [{'description': 'Branch/Division',
      'dnbCode': 9140}],
    'globalUltimateFamilyTreeMembersCount': 687,
    'globalUltimate': {'duns': '003296175',
     'primaryName': 'The Coca-Cola Company'},
    'headQuarter': {'duns': '118267624',
     'primaryName': 'Coca-Cola Refreshments Usa, Inc.'}}}]}

### LOAD COMPANY DATA TO QUERY DNB

In [122]:
example_d = {'addressLocality':['BRANDON',None,None,None,None,
                                None,None,None,None,None,
                                None,None],
             
             'addressRegion':['Florida','Athens',None,None,None,
                              None,None,None,None,None,
                              None,None],
             
             'postalCode':['33510',None,None,None,None,
                           None,None,None,None,None,
                           None,None],
             
             'countryISOAlpha2Code':['US','GR','GR','GR','GR',
                                     'GR','GR','GR','GR','GR',
                                     'GR','GR'],
             
             'streetAddressLine1':['LAKE KATHY DR','ARKADIAS',None,None,None,
                                   None,None,None,None,None,
                                   None,None],
             
             'searchTerm':['COCA-COLA','ACCENTURE','DELOITTE','ACCENTURE','EY',
                           'AMEX','HSBC','EUROBANK','BEAT','SKROUTZ',
                           'KONICA','OMILIA']}

example_df = pd.DataFrame(example_d)

# example_df.to_sql('dnb_input', con, if_exists='replace')
# # example_df.to_csv("dnbinput.csv",index=False)
# # example_df.to_pickle("dnbinput.pkl")

In [105]:
# dnb_input = pd.read_csv("dnbinput.csv").assign(postalCode = lambda x: x['postalCode'].astype('str'))
# dnb_input = pd.read_pickle("dnbinput.pkl")

In [123]:
%%time
# Query dnb api and store results in a dataframe

example_df['jsonResponse'] = example_df.apply(lambda x : dnb_request(
                                addressLocality=x['addressLocality'],
                                addressRegion=x['addressRegion'], 
                                postalCode=x['postalCode'],
                                countryISOAlpha2Code=x['countryISOAlpha2Code'],
                                streetAddressLine1=x['streetAddressLine1'],
                                searchTerm=x['searchTerm'],
                                pageNumber=1,pageSize=50),axis=1)

CPU times: user 370 ms, sys: 7.82 ms, total: 377 ms
Wall time: 6.16 s

In [83]:
# Convert json to text

# example_df['jsonReponseB'] = example_df.jsonReponseA.apply(lambda x : json.dumps(x, ensure_ascii=False) 
#                                                            if x!="" else None)

In [124]:
# Write table to Postgres to check data types

# WRITE JSON
# example_df.to_sql('dnb', con, if_exists='replace', dtype={'jsonReponseA': sqlalchemy.types.JSON})

# WRITE JSONB
from sqlalchemy.dialects import postgresql
example_df.to_sql('dnb', con, if_exists='replace', dtype={'jsonResponse': postgresql.JSONB})

# JSONB slower in input but more flexible quick to query, does not keep the order of the keys

# https://www.postgresql.org/docs/9.3/functions-json.html

### CHECK SCHEMA

In [125]:
query = '''SELECT * FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'dnb';'''
result = pd.read_sql_query(query, con)
result

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,airflow,public,dnb,index,1,None,YES,bigint,None,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES
1,airflow,public,dnb,addressLocality,2,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
2,airflow,public,dnb,addressRegion,3,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
3,airflow,public,dnb,postalCode,4,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
4,airflow,public,dnb,countryISOAlpha2Code,5,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
5,airflow,public,dnb,streetAddressLine1,6,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
6,airflow,public,dnb,searchTerm,7,None,YES,text,None,1.073742e+09,...,NO,None,None,None,None,None,None,NEVER,None,YES
7,airflow,public,dnb,jsonResponse,8,None,YES,jsonb,None,NaN,...,NO,None,None,None,None,None,None,NEVER,None,YES

### CHECK TABLE

In [126]:
query = '''SELECT * FROM dnb;'''
result = pd.read_sql_query(query, con)
result

,index,addressLocality,addressRegion,postalCode,countryISOAlpha2Code,streetAddressLine1,searchTerm,jsonResponse
0,0,BRANDON,Florida,33510,US,LAKE KATHY DR,COCA-COLA,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
1,1,None,Athens,None,GR,ARKADIAS,ACCENTURE,
2,2,None,None,None,GR,None,DELOITTE,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
3,3,None,None,None,GR,None,ACCENTURE,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
4,4,None,None,None,GR,None,EY,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
5,5,None,None,None,GR,None,AMEX,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
6,6,None,None,None,GR,None,HSBC,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
7,7,None,None,None,GR,None,EUROBANK,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
8,8,None,None,None,GR,None,BEAT,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
9,9,None,None,None,GR,None,SKROUTZ,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
10,10,None,None,None,GR,None,KONICA,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."
11,11,None,None,None,GR,None,OMILIA,"{'inquiryDetail': {'pageSize': 50, 'pageNumber..."

In [127]:
example_df.iloc[9]['jsonResponse']

{'inquiryDetail': {'countryISOAlpha2Code': 'GR',
  'searchTerm': 'SKROUTZ',
  'pageNumber': 1,
  'pageSize': 50},
 'candidatesReturnedQuantity': 2,
 'candidatesMatchedQuantity': 2,
 'searchCandidates': [{'primaryName': 'SKROUTZ INTERNET SERVICES S.A.',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'GR',
     'name': 'Greece'},
    'addressLocality': {'name': 'Nea Ionia'},
    'postalCode': '14234',
    'streetAddress': {'line1': '91 Alekou Panagouli'},
    'latitude': 38.043139,
    'longitude': 23.760261},
   'telephone': [{'telephoneNumber': '2152154242', 'isdCode': '30'}],
   'duns': 'NTI0MTUxMTQ4',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False,
    'familytreeRolesPlayed': [{'description': 'Global Ultimate',
      'dnbCode': 12775},
     {'description': 'Domestic Ultimate', 'dnbCode': 12774},
     {'description': 'Parent/Headquarters', 'dnbCode': 9141}],
    'globalUltimateFamilyTreeMembersCount': 3,
    'globalUltimate': {'duns': '524151148',
     'primaryName': 'SKROUTZ INTERNET SERVICES S.A.'}}},
  {'primaryName': 'SKROUTZ S.A.',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'GR',
     'name': 'Greece'},
    'addressLocality': {'name': 'Nea Ionia'},
    'postalCode': '14234',
    'streetAddress': {'line1': '91 Al. Panagouli'}},
   'telephone': [{'telephoneNumber': '2152154242', 'isdCode': '30'}],
   'duns': 'NTAzMTk3MTI0',
   'dunsControlStatus': {'isOutOfBusiness': True,
    'isMarketable': False,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False}}]}

In [128]:
dnb_input_query = '''SELECT * FROM dnb_input;'''
dnb_input = pd.read_sql_query(dnb_input_query, con)
dnb_input.dtypes

index                    int64
addressLocality         object
addressRegion           object
postalCode              object
countryISOAlpha2Code    object
streetAddressLine1      object
searchTerm              object
dtype: object

In [129]:
%%time

dnb_input['jsonResponse'] = dnb_input.apply(lambda x : dnb_request(
                                addressLocality=x['addressLocality'],
                                addressRegion=x['addressRegion'], 
                                postalCode=x['postalCode'],
                                countryISOAlpha2Code=x['countryISOAlpha2Code'],
                                streetAddressLine1=x['streetAddressLine1'],
                                searchTerm=x['searchTerm'],
                                pageNumber=1,pageSize=50),axis=1)

CPU times: user 316 ms, sys: 38.4 ms, total: 354 ms
Wall time: 6.19 s

In [131]:
dnb_input.dtypes

index                    int64
addressLocality         object
addressRegion           object
postalCode              object
countryISOAlpha2Code    object
streetAddressLine1      object
searchTerm              object
jsonResponse            object
dtype: object

In [133]:
dnb_input.jsonResponse[0]

{'inquiryDetail': {'countryISOAlpha2Code': 'US',
  'searchTerm': 'COCA-COLA',
  'pageNumber': 1,
  'postalCode': '33510',
  'pageSize': 50,
  'addressLocality': 'BRANDON',
  'addressRegion': 'Florida'},
 'candidatesReturnedQuantity': 4,
 'candidatesMatchedQuantity': 4,
 'searchCandidates': [{'primaryName': 'Florida Coca-Cola Bottling Company',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3945',
    'streetAddress': {'line1': '521 Lake Kathy Dr'},
    'latitude': 27.946694,
    'longitude': -82.320789,
    'isManufacturingLocation': True},
   'telephone': [{'telephoneNumber': '8135692600', 'isdCode': '1'}],
   'duns': 'MDU2MTM0NDA2',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False,
    'familytreeRolesPlayed': [{'description': 'Subsidiary', 'dnbCode': 9159},
     {'description': 'Parent/Headquarters', 'dnbCode': 9141}],
    'globalUltimateFamilyTreeMembersCount': 687,
    'globalUltimate': {'duns': '003296175',
     'primaryName': 'The Coca-Cola Company'},
    'parent': {'duns': '118267624',
     'primaryName': 'Coca-Cola Refreshments Usa, Inc.'}}},
  {'primaryName': 'Coca Cola Bottling Co',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3945',
    'streetAddress': {'line1': '599 Lake Kathy Dr'},
    'latitude': 27.947599,
    'longitude': -82.322368,
    'isManufacturingLocation': True},
   'telephone': [{'telephoneNumber': '8135693030', 'isdCode': '1'}],
   'duns': 'MDk2MDg5MzAx',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False}},
  {'primaryName': 'Coca Cola of NY',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3904',
    'streetAddress': {'line1': '605 Lake Kathy Dr'},
    'latitude': 27.947658,
    'longitude': -82.322549,
    'isManufacturingLocation': True},
   'duns': 'MDUxMDQxMTQ2',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': False}},
  {'primaryName': 'Coca-Cola Refreshments Usa, Inc.',
   'primaryAddress': {'addressCountry': {'isoAlpha2Code': 'US',
     'name': 'United States'},
    'addressLocality': {'name': 'Brandon'},
    'addressRegion': {'name': 'Florida', 'abbreviatedName': 'FL'},
    'postalCode': '33510-3945',
    'streetAddress': {'line1': '521 Lake Kathy Dr'},
    'latitude': 27.946694,
    'longitude': -82.320789,
    'isManufacturingLocation': True},
   'telephone': [{'telephoneNumber': '7703707870', 'isdCode': '1'}],
   'duns': 'NzkwODk5MzI3',
   'dunsControlStatus': {'isOutOfBusiness': False,
    'isMarketable': True,
    'isTelephoneDisconnected': False,
    'isMailUndeliverable': False,
    'isDelisted': False},
   'corporateLinkage': {'isBranch': True,
    'familytreeRolesPlayed': [{'description': 'Branch/Division',
      'dnbCode': 9140}],
    'globalUltimateFamilyTreeMembersCount': 687,
    'globalUltimate': {'duns': '003296175',
     'primaryName': 'The Coca-Cola Company'},
    'headQuarter': {'duns': '118267624',
     'primaryName': 'Coca-Cola Refreshments Usa, Inc.'}}}]}